body {
    margin: 0;
    padding-top: 100px;
    background: linear-gradient(to right, #202020 50%, #5f5f5f);
    color: white;
    font-family: Georgia;
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    background-color: #101010;
    color: white;
    font-family: Georgia;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
}

.bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    clear: both;
}

.kinemania a {
    position: fixed;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-family: Georgia;
    font-size: 40px;
    letter-spacing: 7px;
    margin-left: 100px;
}

.nav-bar {
    text-align: right;
    margin-right: 30px;
}

.nav-bar li {
    display: inline;
    font-size: 30px;
    margin: 10px;
}

.nav-bar a, .bottom a {
    text-decoration: none;
    color: inherit;
}

.nav-bar a:hover, .bottom a:hover, .popular-now ul li a:hover, .kinemania a:hover {
    color: #78ccfd;
}

.poster {
    margin-left: 20px; /* Расстояние между постером и информацией о фильме */
}

.film-info {
    margin-top: 20px; /* Расстояние от верхнего края */
    margin-left: 5px; /* Расстояние от левого края */
    font-size: 18px;
}

.film-info h1 {
    margin-top: 0;
    font-size: 35px;
    font-family: Helvetica;
}

.poster img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}

.about-film {
    margin-left: 25px;
    font-size: 18px;
}

.film-description {
    padding-right: 500px;
}

.film-player {
    margin-left: 25px;
    margin-bottom: 150px;
    width: 1245px;
    height: 600px;
    border: 2px solid black;
}
.top img {
    margin-top: -3px;
    position: fixed;
    width: 75px;
    height: auto;
}